body{
	background-color:black;
}

.container_show_all{
	background: rgba(0, 0, 0, 0) url("../../../storage/public/image/fond_homepage.png") repeat scroll 0 0;
	margin-top:100px;
	margin-left:30px;
	margin-right:30px;
}

.row{margin:0;}

.col-xs-6 {padding:0;}

.date{
	font-size:15px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	text-align:center;
	padding: 15px 0px;
	color: #aaa;
	margin-top:12%;
}

.ville{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	text-align:center;
	color: #aaa;
	margin-bottom:15px;
}

.date{
	font-size:15px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	text-align:center;
	padding: 15px 0px;
	color: #aaa;
	margin-top:12%;
}

.titre{
	font-size: 25px;
	color: white;
	text-align:center;
	padding: 0px 15px;
}

.espace{
	width:75px;
	border-bottom: 10px solid #aaa;
	margin-left:45%;
	margin-top:20px;
	
}

.lire_post{
	font-size: 17px;
	color: white;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	text-align:center;
	padding: 0px 15px;
	margin-top:20px;
	text-transform: uppercase;
}

.fader {
    overflow: hidden;
    position: relative;
}

.fader img {
    display: block;
    position: relative
}

.fader img { 
	transform: scaleY(1);
	transition: all 0.7s ease-in-out;
}


.fader:hover img { 
	transform: scale(1.05);
   
}

.blog_text{height:100%;}

@media screen and (max-width: 1000px) {
	.date {
		margin-top:20px;
	}
	
	.titre {
		font-size: 20px;
	}
	
	.ville{
		font-size: 17px;
	}
	
	.lire_post{
		font-size: 15px;
	}
	
	.espace{
		display:none;
	}
}

@media screen and (max-width: 800px) {
	.date{
		margin-top:0px;
		font-size: 10px;
	}
	
	.ville{
		font-size: 12px;
	}
	
	.lire_post{
		font-size: 12px;
	}
	
	.titre{
		display:none;
	}
	
	.espace{
		display:none;
	}
}